/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

header {
    font-family: 'Nerko One', cursive;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

section {
    min-height: var(--mh-sm);
    padding: 20px 0;
}

footer {
    padding: 30px;
    color: white;
}

/* nav {
    line-height: 30px;
    background-color: aquamarine;
    max-width: 1100px;
    margin: 0 auto;
} */

/* nav > div{
    padding: var(--nav-pd)
} */

/* span {
    margin: 0 5px;
} */

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 30px 0;
    
    a {
        text-decoration: none;
        color: white;
        margin-right: 5px;
    }

    li:last-child a {
        margin-right: 0;
    }
}

iframe {
    width: 100%;
}

/* Utilities */
/* generics */
.container {
    min-height: 50px;
    margin: 0 20px;
    border: 1px solid black;
}

.color-booleano {
    color: #e2821b;
}

/* organisation per section */
/* in receipt-introduction */
.receipt-category,
.title,
.rate {
    padding: var(--pd-sm) ;
}

.receipt-category {
    font-size: 0.8rem;
    opacity: 0.7;
}

.title h2{
    font-weight: 800;
    color: rgb(56, 5, 104);
}

#receipt-introduction span {
    position: relative;
    top: 0;
    right: 5px
}

#receipt-introduction a {
    color: white;
    background-color: #e2821b;
    padding: 8px 15px;
    border-radius: 18px;
    font-weight: 600;
    text-decoration: none;
}

/* in receipt-info */
.subsection-video {
    min-height: var(--mh-lg);
}

.subsection-info {
    min-height: var(--mh-xxl);
    padding: var(--pd-lg);
}

.basic-info{
    background-color: #eaeaea;
    padding: 20px 15px;
    position: relative;
}

.kcal {
    display: inline-block;
    color: white;
    background-color: #8d70a9;
    padding: 4px 8px;
    border-radius: 5px;
}

#apri-info {
    position: absolute;
    top: calc(67.2px / 2);
    right: 15px;
    translate: 0 -50%;
    font-weight: 700;
}

.plan-details ul {
    margin-left: 12px;
    /* list-style-position: outside; */

    li {
        margin-bottom: 15px;
    }
}

.plan-details ul.main-aspects-list {
    margin-top: 60px;
}

/* to insert font awesome as pseudo elements */
.icon::marker {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #e2821b;
}

.detailed-info ul li:first-child::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f517' ' ';
}

.detailed-info ul li:nth-child(2)::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f017' ' ';
}

.detailed-info ul li:nth-child(3)::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f200' ' ';
}

.detailed-info ul li:nth-child(4)::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f153' ' ';
}

.detailed-info ul li:last-child::marker {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f08d' ' ';
}

.detailed-info ul {
    list-style-position: inside;
    line-height: 40px;
}

/* in social */


/* in presentation */


/* in footer */
